@page "{id:int?}"
@model PlacenameData.Pages.Placenames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].Nation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].Parish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].ParishShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placename[0].DateEntered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Placename) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParishShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntered)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
